spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/javaquiz
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true

question:
  api:
    url: https://public.andret.eu/questions.json